<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.perrypt.ptmanagement" >

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LandingActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".AddNewCustomerActivity"
            android:label="@string/title_activity_add_new_customer"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".CustomerListActivity"
            android:label="@string/title_activity_customer_list"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".CustomerInformationActivity"
            android:label="@string/title_activity_customer_information"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SessionListActivity"
            android:label="@string/title_activity_session_list"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".PaymentAuthorizationActivity"
            android:label="@string/title_activity_payment_authorization"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AddSession"
            android:label="@string/title_activity_add_session"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
